section.about#about
    .container.container_fdc.container_aic
        h2
            | About
        p.about__text
            | We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps. Clever use of technology and lean processes enable us to work faster and smarter.
        img.about__sign(src="img/about__sign.png", alt="sign")