section.banner#main
    .container.container_aic.container_fdc
        .banner__subtitle
            | New branding agency
        h1.banner__title We are about to change the way
            br
            i you publish on the web
    a.banner__arrow(href="#about")