section.projects#portfolio
    .container.container_fdc.container_aic
        h2 Best Projects
        p.projects__text
            | Donec orci sem, pretium ac dolor et, faucibus faucibus mauris.
            | Etiam, pellentesque faucibus. Vestibulum gravida volutpat ipsum non ultrices.
        include portfolio.pug

