extends pug/layouts/base.pug

block title
    | Candy - New branding agency

block content
    include  pug/partials/banner.pug
    include  pug/partials/about.pug
    include  pug/partials/stats.pug
    include  pug/partials/projects.pug
    include  pug/partials/review.pug
    include  pug/partials/partners.pug
    include  pug/partials/blog.pug
    include  pug/partials/contacts.pug

block scripts
    script(src="js/jquery.min.js")
    script(src="js/owl.carousel.min.js")

