.review{
  padding: 150px 0;
  background: url("../img/bg-pattern.jpg") 50% 50%;
  color: $white;
  text-align: center;
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text{
    width: 70%;
    font-size: 30px;
    font-style: italic;
    &::after{
      content: " ”";
    }
    &::before{
      content: "“ ";
    }
  }
  &__desc{
    text-transform: uppercase;
    font-size: 14px;
  }
}